<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>
        <!-- META -->
        {% include "partials/meta.njk" %}

        <!-- CSS -->
        {% include "partials/css.njk" %}
    </head>

    <body>
        <!-- SCROLL PROGRESS BAR -->
        <div class="scroll-progress-container">
            <div class="scroll-progress-bar" id="scrollProgress"></div>
        </div>

        <!-- NAVBAR -->
        {% include "partials/navbar.njk" %}

        <!-- SPLASH -->
        {% include "partials/splash-screen.njk" %}

        <!-- ME -->
        {% include "partials/intro.njk" %}

        <!-- MISSION -->
        {% include "partials/mission.njk" %}

        <!-- SERVICES -->
        {% include "partials/services.njk" %}

        <!-- WHAT CAN EXPECT -->
        {% include "partials/what-can-expect.njk" %}

        <!-- TESTIMONIALS -->
        {% include "partials/testimonials.njk" %}

        <!-- PODCAST -->
        {% include "partials/podcast.njk" %}

        <!-- NEWSLETTER -->
        {% include "partials/newsletter.njk" %}

        <!-- WELL BEING WHEEL CTE -->
        {% include "partials/well-being-cte.njk" %}

        <!-- QUOTE -->
        {% include "partials/quote.njk" %}

        <!-- CONTACT -->
        {% include "partials/contact.njk" %}

        <!-- FOOTER -->
        {% include "partials/footer.njk" %}

        <!-- JAVASCRIPTS -->
        {% include "partials/js.njk" %}
    </body>

</html>