<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MindfulOpus</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="{{ 'images/favicon.ico' }}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' }}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/materialdesignicons.min.css'  }}" />

    <!-- Pe-icon-7 icon -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/pe-icon-7-stroke.css' }}">

    <!-- tinyslider -->
    <link rel="stylesheet" href="{{ 'assets/css/tiny-slider.css' }}">

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/style.css' }}" />

</head>

<body>
    <!-- START  NAVBAR -->
    <nav class="navbar navbar-expand-lg  navbar-white fixed-top navbar-custom sticky sticky-light" id="navbar">
        <div class="container">

            <!-- LOGO -->
            <a class="navbar-brand logo text-uppercase" href="index-1.html">
                <img src="{{ 'assets/images/logo-dark.png' }}" class="logo-light" alt="" height="25">
                <img src="{{ 'assets/images/logo-dark.png' }}" class="logo-dark" alt="" height="25">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="mdi mdi-menu"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto" id="navbar-navlist">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">
                            Me
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">
                            Mission
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- START HOME -->
    <section class="bg-home-2 align-items-center d-flex">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h1 class="display-5 fw-normal">
                            Welcome to
                            <span class="fw-bold">MindfulOpus</span>
                        </h1>
                        <h1 class="display-8 fw-normal">
                            A wellness and coaching business for
                        </h1>

                        <h1 class="display-8 fw-normal">
                            classical musicians.
                        </h1>

                        <div class="mt-4">
                            <a href="#services" class="btn btn-blue btn-round mt-4">
                                Tell me more!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- END HOME -->


    <!-- START SERVICES -->
    <section class="section" id="services">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="heading-box text-center">
                        <h1 class="display-4 fw-normal">
                            <span>
                                I’m Joanna Zakany,
                            </span>
                        </h1>

                        <h3 class="heading-title mb-3">
                            But you can call me Jo!
                        </h3>

                        <img src="{{ 'assets/images/img-1.jpg' }}" class="rounded img-thumbnail">

                        <h3 class="heading-title fw-normal mt-4">
                            I am a violist with

                            <span class="fw-bold">
                                The Cleveland Orchestra, Professor at Kent State University, Certified yoga Instructor and Duke-Trained
                            </span> Well-being Coach.
                        </h3>
                    </div>

                </div>

            </div>

            <div class="row mt-5 pt-4">
                <div class="col-lg-4">
                    <div class="services-box text-center hover-effect mt-4">
                        <div class="services-icon">
                            <i class="pe-7s-network"></i>
                        </div>

                        <h5 class="mt-4 pt-1">Digital Design</h5>
                        <p class="text-muted mt-4 mb-0">Some quick example text to build on the card title and bulk
                            the card's content Moltin gives you platform.</p>

                            <div class="mt-4">
                                <a href="" class="text-primary">Read More <i class="mdi mdi-arrow-right ms-1"></i></a>
                            </div>


                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="services-box text-center hover-effect mt-4">
                        <div class="services-icon">
                            <i class="pe-7s-server"></i>

                        </div>

                        <h5 class="mt-4 pt-1">Strategy Solutions</h5>
                        <p class="text-muted mt-4 mb-0">Separated they live in Bookmark sgrove right at the coast of
                            the Semtics langu ocean necessary regelialia.</p>

                            <div class="mt-4">
                                <a href="" class="text-primary">Read More <i class="mdi mdi-arrow-right ms-1"></i></a>
                            </div>


                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="services-box text-center hover-effect mt-4">
                        <div class="services-icon">
                            <i class="pe-7s-add-user"></i>

                        </div>

                        <h5 class="mt-4 pt-1">Awesome Support</h5>
                        <p class="text-muted mt-4 mb-0">It is a paradisematic country sentences, in which roasted parts
                            of
                            into your mouth leave for the World.</p>

                            <div class="mt-4">
                                <a href="" class="text-primary">Read More <i class="mdi mdi-arrow-right ms-1"></i></a>
                            </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SERVICES -->


    <!-- START FEATURES -->
    <section class="section bg-light" id="features">
        <div class="container">

            <div class="row justify-content-center">

                <div class="col-lg-8">

                    <div class="heading-box text-center">
                        <h3 class="heading-title"><span class="fw-normal">The Mindful Opus </span> Mission</h3>
                        <p class="heading-desc text-muted mt-3">
                            I created this business as a way to help others in the classical musical world find more balance and ease in their lives. My specific background offers a true yin-yang approach; one that helps clients thrive under pressure and work for their goals in a mindful way, while also balancing the musical journey with more wellness and an integrative approach to life.
                        </p>
                    </div>

                </div>

            </div>


            <div class="row mt-5 pt-4 align-items-center">

                <div class="col-lg-6">
                    <div class="mt-4">
                        <div class="mt-4">
                            <h3><span class="fw-normal">I offer clients support </span>in many ways:</h3>
                            <p class="text-muted mt-3">Separated they live in Bookmarksgrove right at the coast of the
                                Semantics, a large language ocean.</p>
                        </div>

                        <div class="mt-4 pt-3">
                            <div class="d-flex">
                                <div class="features-count">
                                    <h5 class="f-14 text-primary">01</h5>
                                </div>

                                <div class="flex-1 ps-3">
                                    <h5 class="f-18 mt-1">  Performance-related anxiety
                                    </h5>
                                    <p class="text-muted mt-2">Separated they live in Bookmarksgrove right at the coast the
                                        Semantics,
                                        a large language ocean. A small river
                                        name Duden flows by regelialia.</p>
                                </div>
                            </div>

                            <div class="d-flex mt-3">
                                <div class="features-count">
                                    <h5 class="f-14 text-primary">02</h5>
                                </div>

                                <div class="flex-1 ps-3">
                                    <h5 class="f-18 mt-1">Safe and musician-geared yoga sessions</h5>
                                    <p class="text-muted mt-2 mb-0">Separated they live in Bookmarksgrove right
                                        at the coast of the Semantics, a large language ocean publishing
                                        web page editors now.</p>
                                </div>
                            </div>

                            <div class="d-flex mt-3">
                                <div class="features-count">
                                    <h5 class="f-14 text-primary">03</h5>
                                </div>

                                <div class="flex-1 ps-3">
                                    <h5 class="f-18 mt-1">Burnout support and prevention</h5>
                                    <p class="text-muted mt-2 mb-0">Separated they live in Bookmarksgrove right
                                        at the coast of the Semantics, a large language ocean publishing
                                        web page editors now.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mt-4 p-4">

                        <div class="d-flex mt-3">
                                <div class="features-count">
                                    <h5 class="f-14 text-primary">04</h5>
                                </div>

                                <div class="flex-1 ps-3">
                                    <h5 class="f-18 mt-1">Meditation instruction</h5>
                                    <p class="text-muted mt-2 mb-0">Separated they live in Bookmarksgrove right
                                        at the coast of the Semantics, a large language ocean publishing
                                        web page editors now.</p>
                                </div>
                            </div>

                            <div class="d-flex mt-3">
                                <div class="features-count">
                                    <h5 class="f-14 text-primary">05</h5>
                                </div>

                                <div class="flex-1 ps-3">
                                    <h5 class="f-18 mt-1">Pre-audition preparation</h5>
                                    <p class="text-muted mt-2 mb-0">Separated they live in Bookmarksgrove right
                                        at the coast of the Semantics, a large language ocean publishing
                                        web page editors now.</p>
                                </div>
                            </div>

                            <div class="d-flex mt-3">
                                <div class="features-count">
                                    <h5 class="f-14 text-primary">06</h5>
                                </div>

                                <div class="flex-1 ps-3">
                                    <h5 class="f-18 mt-1">Mindfulness and well-being coaching</h5>
                                    <p class="text-muted mt-2 mb-0">Separated they live in Bookmarksgrove right
                                        at the coast of the Semantics, a large language ocean publishing
                                        web page editors now.</p>
                                </div>
                            </div>

                    </div>
                </div>

            </div>


            <div class="row mt-5 pt-4 align-items-center">

                <div class="col-lg-6">
                    <div class="mt-4 p-4">
                                    <div class="row mt-5 pt-4">
                <div class="col-lg-12">
                    <div class="client-slider pb-5">


                        <div>
                            <div class="bg-white client-desc mt-4">

                                <div class="d-flex">
                                    <div class="testi-icon me-3">
                                        <i class="mdi mdi-format-quote-open text-primary"></i>
                                    </div>
                                    <div class="flex-1">
                                        <p class="text-muted mb-0">“You can choose HOW you live your life one piece at at time, at any time of your life.”
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                    </div>
                </div>

                <div class="col-lg-5 offset-lg-1">
                    <div class="mt-4">
                        <h3><span class="fw-normal">At </span>MindfulOpus<span class="fw-normal">, our philosophy is</span></h3>
                        <p class="text-muted mt-3">Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large language ocean.</p>
                    </div>

                    <div class="mt-4 pt-3">
                        <div class="d-flex">
                            <div class="features-icon">
                                <i class="pe-7s-display2 text-primary"></i>
                            </div>

                            <div class="flex-1 ps-3">
                                <h5 class="f-18 mt-1">Music isn’t WHO you are, it’s WHAT you do.</h5>
                                <p class="text-muted mt-2">Some quick example text to build on the card title and make
                                    up the bulk
                                    of the card's content. Moltin gives platform web sites still in their infancy.</p>
                            </div>
                        </div>

                        <div class="d-flex mt-3">
                            <div class="features-icon">
                                <i class="pe-7s-date text-primary"></i>
                            </div>

                            <div class="flex-1 ps-3">
                                <h5 class="f-18 mt-1">HOW you are at WHAT you do becomes...WHO You Are.</h5>
                                <p class="text-muted mt-2">Credibly brand standards compliant on users without
                                    extensible services.
                                    Anibh euismod tincidunt laoreet Ipsum combined with a passage.</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- END FEATURES -->

    <!-- START CTA -->
    <div class="section-sm bg-cta" id="contact">
        <div class="color-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-8">

                    <div class="heading-box text-white text-center">
                        <h3 class="heading-title">Book a complimentary consultation!</h3>
                        <p class="heading-desc text-white-50 mt-3">Far far away, behind the word mountains, far from the
                            countries Vokalia and Consonantia,
                            there suspendisse suscipit sapien sit amet live the blind texts.</p>

                        <p class="mt-4 mb-0">Send me an email at contact@mindfulopus.com</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- END CTA -->

    <!-- START FOOTER -->
    <section class="bg-footer bg-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="text-sm-start mt-3 mt-sm-0">
                        <img src="images/logo-dark.png" alt="" height="25" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-sm-end mt-3 mt-sm-0">
                        <p class="text-muted mb-0">2021 © MinfulOpus</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER -->

    <!-- bootstrap -->
    <script src="{{ 'assets/js/bootstrap.bundle.min.js' }}"></script>
    <!-- JAVASCRIPTS -->
    <script src="{{ 'assets/js/smooth-scroll.polyfills.min.js' }}"></script>
    <script src="{{ 'assets/js/gumshoe.polyfills.min.js' }}"></script>
    <script src="{{ 'assets/js/tiny-slider.js' }}"></script>
    <!-- CUSTOM JS -->
    <script src="{{ 'assets/js/app.js' }}"></script>
</body>

</html>