<div class="section-sm mo-bg-2" id="contact">
    <div class="color-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-8">

                <div class="heading-box text-white text-center">
                    <h3 class="heading-title">Book a complimentary consultation!</h3>
                    <p class="heading-desc text-white-50 mt-3">Far far away, behind the word mountains, far from the
                        countries Vokalia and Consonantia,
                        there suspendisse suscipit sapien sit amet live the blind texts.</p>

                    <p class="mt-4 mb-0">Send me an email at contact@mindfulopus.com</p>
                </div>

                <!-- Calendly inline widget begin -->
                <div class="calendly-inline-widget" data-url="https://calendly.com/mindfulopus/30min" style="min-width:320px;height:630px;"></div>
                <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                <!-- Calendly inline widget end -->

            </div>

        </div>
    </div>
</div>