<div class="section-sm bg-cta" id="contact">
    <div class="color-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-8">

                <div class="heading-box text-white text-center">
                    <h3 class="heading-title">Book a complimentary consultation!</h3>
                    <p class="heading-desc text-white-50 mt-3">Far far away, behind the word mountains, far from the
                        countries Vokalia and Consonantia,
                        there suspendisse suscipit sapien sit amet live the blind texts.</p>

                    <p class="mt-4 mb-0">Send me an email at contact@mindfulopus.com</p>
                </div>

            </div>

        </div>
    </div>
</div>