<link rel="shortcut icon" href="{{ 'images/favicon.ico' }}">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{{ 'assets/vendor/css/bootstrap.min.css' }}" type="text/css">

<!--Material Icon -->
<link rel="stylesheet" type="text/css" href="{{ 'assets/vendor/css/materialdesignicons.min.css'  }}" />

<!-- Pe-icon-7 icon -->
<link rel="stylesheet" type="text/css" href="{{ 'assets/vendor/css/pe-icon-7-stroke.css' }}">

<!-- tinyslider -->
<link rel="stylesheet" type="text/css"  href="{{ 'assets/vendor/css/tiny-slider.css' }}">

<!-- Custom  Css -->
<link rel="stylesheet" type="text/css" href="{{ 'assets/styles/main.css' }}" />