<section class="section" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="heading-box text-center">
                    <h1 class="display-4 fw-normal">
                        <span>
                            I’m Joanna Zakany,
                        </span>
                    </h1>

                    <h3 class="heading-title mb-3">
                        But you can call me Jo!
                    </h3>

                    <img src="{{ 'assets/images/img-1.jpg' }}" class="rounded img-thumbnail">

                    <h3 class="heading-title fw-normal mt-4">
                        I am a violist with

                        <span class="fw-bold">
                            The Cleveland Orchestra, Professor at Kent State University, Certified yoga Instructor and Duke-Trained
                        </span> Well-being Coach.
                    </h3>
                </div>

            </div>

        </div>

        <div class="row mt-5 pt-4">
            <div class="col-lg-4">
                <div class="services-box text-center hover-effect mt-4">
                    <div class="services-icon">
                        <i class="pe-7s-network"></i>
                    </div>

                    <h5 class="mt-4 pt-1">Digital Design</h5>
                    <p class="text-muted mt-4 mb-0">Some quick example text to build on the card title and bulk
                        the card's content Moltin gives you platform.</p>

                        <div class="mt-4">
                            <a href="" class="text-primary">Read More <i class="mdi mdi-arrow-right ms-1"></i></a>
                        </div>


                </div>
            </div>

            <div class="col-lg-4">
                <div class="services-box text-center hover-effect mt-4">
                    <div class="services-icon">
                        <i class="pe-7s-server"></i>

                    </div>

                    <h5 class="mt-4 pt-1">Strategy Solutions</h5>
                    <p class="text-muted mt-4 mb-0">Separated they live in Bookmark sgrove right at the coast of
                        the Semtics langu ocean necessary regelialia.</p>

                        <div class="mt-4">
                            <a href="" class="text-primary">Read More <i class="mdi mdi-arrow-right ms-1"></i></a>
                        </div>


                </div>
            </div>

            <div class="col-lg-4">
                <div class="services-box text-center hover-effect mt-4">
                    <div class="services-icon">
                        <i class="pe-7s-add-user"></i>

                    </div>

                    <h5 class="mt-4 pt-1">Awesome Support</h5>
                    <p class="text-muted mt-4 mb-0">It is a paradisematic country sentences, in which roasted parts
                        of
                        into your mouth leave for the World.</p>

                        <div class="mt-4">
                            <a href="" class="text-primary">Read More <i class="mdi mdi-arrow-right ms-1"></i></a>
                        </div>


                </div>
            </div>
        </div>
    </div>
</section>