<section class="section" id="me">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="heading-box text-center">
                    <h3 class="mb-4">
                        <span class="fw-normal">I’m</span> Joanna Zakany, 
                        <br>
                        <span class="fw-normal">
                        but you can call me 
                        </span>
                        Jo!
                    </h3>
                
                    <img src="{{ 'assets/images/img-1.jpg' }}" class="rounded img-thumbnail">

                    <h5 class="heading-title fw-normal mt-4">
                        I am a violist with
                        The Cleveland Orchestra, Professor at Kent State University, Certified yoga Instructor and Duke-Trained
                        Well-being Coach.
                    </h5>
                </div>

            </div>

        </div>
    </div>
</section>