<section class="section" id="me">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="heading-box text-center">
                    <h3 class="mb-4">
                        <span class="fw-normal">Hi! I’m</span> Joanna Zakany, 
                        <br>
                        <span class="fw-normal">
                        but you can call me 
                        </span>
                        Jo.
                    </h3>
                
                    <img id="mo-profile-1" src="{{ 'assets/images/jpz-profile-5.jpg' }}" class="rounded img-thumbnail img-fluid">

                    <h5 class="heading-title fw-normal mt-4">
                        I am a violist with
                        The Cleveland Orchestra, professor at Kent State University, certified yoga instructor and Duke trained
                        wellbeing coach.
                    </h5>
                </div>

            </div>

        </div>
    </div>
</section>