<script src="{{ 'assets/vendor/js/bootstrap.bundle.min.js' }}"></script>
<script src="{{ 'assets/vendor/js/smooth-scroll.polyfills.min.js' }}"></script>
<script src="{{ 'assets/vendor/js/gumshoe.polyfills.min.js' }}"></script>
<script src="{{ 'assets/vendor/js/tiny-slider.js' }}"></script>
<script src="{{ 'assets/js/app.js' }}"></script>