<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MindfulOpus</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CF353001TZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CF353001TZ');
</script>