<section class="section bg-light" id="mission">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="heading-box text-center">
                    <h3>
                        <span class="fw-normal">The MindfulOpus 
                        <br>
                        </span>Mission
                    </h3>
        
                    <h5 class="display-7 fw-normal">
                        I created MindfulOpus as a way to help others in the classical music world find more balance in their lives. Born out of my own journey of recovery from burnout, I found deep healing in the physical practice of yoga, meditation, and breathwork.   

                        <br><br>

                        In addition to my yoga certification, I added the psychological component by training with Duke University and becoming a wellbeing coach. Combining all these skills is what led me to create MindfulOpus. 

                        <br><br>

                        I want to be of service to other fellow classical musicians by helping them avoid the pitfalls of grind culture, by working more mindfully and living more holistically. 

                        <br><br>
                        Geared towards students and professionals alike, I work with clients wherever they are in their musical career. I'm excited to bring these wonderful and supportive tools to you and help you create your own mindful life, one opus at a time! 
                    
                    
                        <br><br>
                        
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>