<section class="section bg-light" id="mission">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="heading-box text-center">
                    <h3 class="heading-title"><span class="fw-normal">The Mindful Opus </span> Mission</h3>
                    <p class="heading-desc text-muted mt-3">
                        I created this business as a way to help others in the classical musical world find more balance and ease in their lives. My specific background offers a true yin-yang approach; one that helps clients thrive under pressure and work for their goals in a mindful way, while also balancing the musical journey with more wellness and an integrative approach to life.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>