<section class="section bg-light" id="features">
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-8">

                <div class="heading-box text-center">
                    <h3 class="heading-title"><span class="fw-normal">The Mindful Opus </span> Mission</h3>
                    <p class="heading-desc text-muted mt-3">
                        I created this business as a way to help others in the classical musical world find more balance and ease in their lives. My specific background offers a true yin-yang approach; one that helps clients thrive under pressure and work for their goals in a mindful way, while also balancing the musical journey with more wellness and an integrative approach to life.
                    </p>
                </div>

            </div>

        </div>


        <div class="row mt-5 pt-4 align-items-center">

            <div class="col-lg-6">
                <div class="mt-4">
                    <div class="mt-4">
                        <h3><span class="fw-normal">I offer clients support </span>in many ways:</h3>
                        <p class="text-muted mt-3">Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large language ocean.</p>
                    </div>

                    <div class="mt-4 pt-3">
                        <div class="d-flex">
                            <div class="features-count">
                                <h5 class="f-14 text-primary">01</h5>
                            </div>

                            <div class="flex-1 ps-3">
                                <h5 class="f-18 mt-1">  Performance-related anxiety
                                </h5>
                                <p class="text-muted mt-2">Separated they live in Bookmarksgrove right at the coast the
                                    Semantics,
                                    a large language ocean. A small river
                                    name Duden flows by regelialia.</p>
                            </div>
                        </div>

                        <div class="d-flex mt-3">
                            <div class="features-count">
                                <h5 class="f-14 text-primary">02</h5>
                            </div>

                            <div class="flex-1 ps-3">
                                <h5 class="f-18 mt-1">Safe and musician-geared yoga sessions</h5>
                                <p class="text-muted mt-2 mb-0">Separated they live in Bookmarksgrove right
                                    at the coast of the Semantics, a large language ocean publishing
                                    web page editors now.</p>
                            </div>
                        </div>

                        <div class="d-flex mt-3">
                            <div class="features-count">
                                <h5 class="f-14 text-primary">03</h5>
                            </div>

                            <div class="flex-1 ps-3">
                                <h5 class="f-18 mt-1">Burnout support and prevention</h5>
                                <p class="text-muted mt-2 mb-0">Separated they live in Bookmarksgrove right
                                    at the coast of the Semantics, a large language ocean publishing
                                    web page editors now.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mt-4 p-4">

                    <div class="d-flex mt-3">
                            <div class="features-count">
                                <h5 class="f-14 text-primary">04</h5>
                            </div>

                            <div class="flex-1 ps-3">
                                <h5 class="f-18 mt-1">Meditation instruction</h5>
                                <p class="text-muted mt-2 mb-0">Separated they live in Bookmarksgrove right
                                    at the coast of the Semantics, a large language ocean publishing
                                    web page editors now.</p>
                            </div>
                        </div>

                        <div class="d-flex mt-3">
                            <div class="features-count">
                                <h5 class="f-14 text-primary">05</h5>
                            </div>

                            <div class="flex-1 ps-3">
                                <h5 class="f-18 mt-1">Pre-audition preparation</h5>
                                <p class="text-muted mt-2 mb-0">Separated they live in Bookmarksgrove right
                                    at the coast of the Semantics, a large language ocean publishing
                                    web page editors now.</p>
                            </div>
                        </div>

                        <div class="d-flex mt-3">
                            <div class="features-count">
                                <h5 class="f-14 text-primary">06</h5>
                            </div>

                            <div class="flex-1 ps-3">
                                <h5 class="f-18 mt-1">Mindfulness and well-being coaching</h5>
                                <p class="text-muted mt-2 mb-0">Separated they live in Bookmarksgrove right
                                    at the coast of the Semantics, a large language ocean publishing
                                    web page editors now.</p>
                            </div>
                        </div>

                </div>
            </div>

        </div>


        <div class="row mt-5 pt-4 align-items-center">

            <div class="col-lg-6">
                <div class="mt-4 p-4">
                                <div class="row mt-5 pt-4">
            <div class="col-lg-12">
                <div class="client-slider pb-5">


                    <div>
                        <div class="bg-white client-desc mt-4">

                            <div class="d-flex">
                                <div class="testi-icon me-3">
                                    <i class="mdi mdi-format-quote-open text-primary"></i>
                                </div>
                                <div class="flex-1">
                                    <p class="text-muted mb-0">“You can choose HOW you live your life one piece at at time, at any time of your life.”
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <div class="mt-4">
                    <h3><span class="fw-normal">At </span>MindfulOpus<span class="fw-normal">, our philosophy is</span></h3>
                    <p class="text-muted mt-3">Separated they live in Bookmarksgrove right at the coast of the
                        Semantics, a large language ocean.</p>
                </div>

                <div class="mt-4 pt-3">
                    <div class="d-flex">
                        <div class="features-icon">
                            <i class="pe-7s-display2 text-primary"></i>
                        </div>

                        <div class="flex-1 ps-3">
                            <h5 class="f-18 mt-1">Music isn’t WHO you are, it’s WHAT you do.</h5>
                            <p class="text-muted mt-2">Some quick example text to build on the card title and make
                                up the bulk
                                of the card's content. Moltin gives platform web sites still in their infancy.</p>
                        </div>
                    </div>

                    <div class="d-flex mt-3">
                        <div class="features-icon">
                            <i class="pe-7s-date text-primary"></i>
                        </div>

                        <div class="flex-1 ps-3">
                            <h5 class="f-18 mt-1">HOW you are at WHAT you do becomes...WHO You Are.</h5>
                            <p class="text-muted mt-2">Credibly brand standards compliant on users without
                                extensible services.
                                Anibh euismod tincidunt laoreet Ipsum combined with a passage.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>