<nav
    class="navbar navbar-expand-lg  navbar-white fixed-top navbar-custom sticky sticky-light"
    id="navbar"
>
    <div class="container">

        <!-- LOGO -->
        <a class="navbar-brand logo text-uppercase" href="#home">
            <img src="{{ 'assets/images/logos/5.png' }}" class="logo-light" alt="" height="50">
            <img src="{{ 'assets/images/logos/5.png' }}" class="logo-dark" alt="" height="25">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="mdi mdi-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto" id="navbar-navlist">
                <li class="nav-item">
                    <a class="nav-link" href="#me">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mission">
                        Mission
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">
                        What I offer
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        Work with me
                    </a>
                </li>
                <a href="#wellbeing" class="btn btn-danger btn-lg mt-4" style="position: relative; top: -26px; left: 17px;">
                    <div style="display: flex; align-items: center; gap: 8px;">
                        <i class="mdi mdi-file-pdf-box" aria-hidden="true" style="font-size: 16px;"></i>
                        <div>Well-Being Wheel</div>
                    </div>
                </a>
                {# <li class="nav-item">
                    <a class="nav-link" href="#blog">
                        Blog
                    </a>
                </li> #}
            </ul>
        </div>
    </div>
</nav>