<section class="section bg-light" id="mo-quote">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <img id="mo-profile-1" src="{{ 'assets/images/mo-cat.png' }}" class="img-thumbnail img-fluid">
            </div>
            <div class="col-lg-6">
                <div class="heading-box">
                    <h4 class="text-center">
                        You can choose HOW you live your life <i>one piece</i> at at time, at any time of your life. 
                        
                        <br><br>
                        
                        Music isn’t <b>WHO you are</b>, it’s 

                        <br><br>
                        
                        WHAT you do. 

                        <br><br>
                        
                        HOW you are at WHAT you do becomes...

                        <br><br>

                        WHO You Are.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>