<section class="section bg-lightan bg-home-np" id="services">
    <div class="container">
        <div class="row align-items-center">

            <div class="heading-box text-center">
                <h3>
                    What do I offer?
                    
                </h3>
                <h5 class="fw-normal">I work 1-1 with clients (in person or over zoom) to empower you through the process of coaching.  </h5>

                <br>

                <h5 class="fw-normal">Coaching is a partnership: I provide the strategies and thought work, while you provide the direction and goals we set. Together, we explore where your life feels out of balance and come up with concrete solutions to recalibrate your well-being.</h5>

                <br>

                <h5 class="fw-normal">Our coaching sessions are fully customizable and include mindset training, performance coaching, time-management, decision-making and well-being offerings of yoga, meditation and breathwork.      
                </h5>

                <br>

                <h5 class="fw-normal">
                    In addition to my 1-1 sessions, I also work with colleges, universities and conservatories in my group programs where I offer the first all-in-one music, coaching and yoga workshops for classical music students. 
                </h5>

                <br>
            </div>

            <hr>

            <div class="heading-box text-center">
                <h3>What results can my clients expect?</h3>
                <h5 class="fw-normal">
                    It will vary depending on what we decide to work on, but a sample of what to expect would be:
                </h5>

            </div>

            <div class="col-lg-6">
                <div class="mt-4">
                    <div class="mt-4 pt-3">
                        <div class="d-flex">
                            <ul>
                                <li>learn the powerful tools of self-acceptance and self-compassion as a way to work kinder and smarter towards your results. </li>
                                <li>methods for managing stress from both a mental and physical approach. </li>
                                <li>a manageable self-care routine</li>
                                <li>stronger mind/body connection</li>
                                <li>stress management</li>
                                <li>resiliency development</li>
                                <li>decreased performance related anxiety</li>
                                <li>mindful practicing tips</li>
                                <li>improved body posture and increased flexibility</li>
                                <li>concert and audition mental preparation</li> 
                                <li>burnout support</li>
                                <li>how to navigate life transitions with more awareness and curiosity </li>
                                <li>increased life satisfaction</li>
                                <li>more mindfulness into your life</li>
                            </ul>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-lg-6">
                <img src="{{ 'assets/images/monaco.jpeg' }}" class="mt-5 rounded img-thumbnail">
            </div>
        </div>
    </div>
</section>