<section class="well-being-wheel-section bg-light py-5" id="wellbeing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h3>Discover The Well-Being Wheel</h2>
                <p class="lead mt-3">
                    Unlock your full artistic potential with "The Well-Being Wheel," a thoughtful approach to holistic development crafted specifically for creatives. Whether that's working towards an artistic or creative goal, trying to find more work/life balance, or exploring what other interests outside of your field might help you live a more diverse life (or what I call "Artist+"), learn to master the balance of emotional, physical, and creative wellness, fostering an environment where your artistry can truly flourish.
                </p>
                <a href="https://6b81c6e8.sibforms.com/serve/MUIFAEPSBgIKqZ7ijhaGGC9Kg3O4789opPPLDAjFHnUZ9wmGaJ4dxqEqFKxOa50aCnOvRaPxSaudOJL2s_Hu_JPKG5rECwQQNGLj1b5GQUz0tjfr9BcAwJov-J2v3vXBYmV1jhlEndqjrMs-Nlg0VFqPS9ksumkUZHzGCuNXKxx1NyOpH6sRmx7d_ekm7AyhiG6vrcgb2h7P-iqO" target="_blank" class="btn btn-cta mt-4">
                    <i class="mdi mdi-file-pdf-box"></i>
                    Get Your Free Well-Being Workbook
                </a>
            </div>
        </div>
    </div>
</section>
