<section class="well-being-wheel-section bg-light py-5" id="wellbeing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="display-5 fw-bold">Discover The Well-Being Wheel</h2>
                <p class="lead mt-3">
                    Unlock your full artistic potential with "The Well-Being Wheel," a thoughtful approach to holistic development crafted specifically for creatives. Whether that's working towards an artistic or creative goal, trying to find more work/life balance, or exploring what other interests outside of your field might help you live a more diverse life (or what I call "Artist+"), learn to master the balance of emotional, physical, and creative wellness, fostering an environment where your artistry can truly flourish.
                </p>
                <a href="https://6b81c6e8.sibforms.com/serve/MUIFAKGre6uQ0KSJdersWvcbgIUtmtbLZE9iuFHrnsoTvevI7kxWHf-a82yBpUR8JoZ0ZjZYv6fEJnWhxgK249lEOAAqVlM7JDFgQSbIXsIdZvzdwIAq3m4Z89nISV7JFcwp3wNdQBgGGhGj7Wusw7ylO7NUbOeQwsBFKkXz-ihpKOyLVbdHSvuuYPI2WNLNkM7ixGQ2m2MtHAWy" target="_blank" class="btn btn-secondary btn-lg mt-4">
                    Click here for your free well-being workbook!
                </a>
            </div>
        </div>
    </div>
</section>
